* {
  padding: 0;
  margin: 0;
}

.body {
  background: steelblue;
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-up {
  padding: 10px 225px;
  margin-left: 20%;
  background: greenyellow;
  border-radius: 10px;
  height: 45pt;
    width: 500px;
  display: flex;
  font-weight: bold;
  /* position:relative; */
  z-index: 10;
  bottom: 0px;
  top: 5vh;
  text-align: center;
  font-size: larger;
}
.button-right {
  padding: 170px 17px;
  margin-left: 73ch;
  margin-top: -36ch;
    background: greenyellow;
    border-radius: 10px;
    height: 289pt;
    width: 82px;
    display: flex;
    font-weight: bold;
    position: relative;
    z-index: 10;
    bottom: 0px;
    top: 5vh;
    text-align: center;
    font-size: larger;
}
.button-down {
  padding: 10px 200px;
    margin-left: 20%;
    margin-top: 25%;
  background: greenyellow;
  border-radius: 10px;
  height: 45pt;
  width: 500px;
  display: flex;
  font-weight: bold;
  position:relative;
  z-index: 10;
  bottom: 0px;
  top: 5vh;
  text-align: center;
  font-size: larger;
  
  
}
.button-left {
  padding: 170px 17px;
  margin-left: 14%;
  margin-top: -32%;
  background: greenyellow;
  border-radius: 10px;
  height: 289pt;
  width: 83px;
  display: flex;
  font-weight: bold;
  position: relative;
  z-index: 10;
  bottom: 0px;
  top: 5vh;
  text-align: center;
  font-size: larger;
}
  


.area {
  background-color: aliceblues;
  border: 5ch;
  border-color: firebrick;
  height: 100pt;
  width: 100px;
}
.box {
  position: relative;
  height: 0.5pt;
  width: 50px;
  background-color: slateblue;
  
}
